// Content widths
$content-width: 1024px;
$currency-block-width: 640px;

// Colors
$color-white: #fff;
$color-dark-grey-1: #2b2b2b;
$color-dark-grey-2: #565656;
$color-grey: #e1e1e1;
$color-light-grey: #f0f0f0;
$color-blue: #5780ff;
$color-dark-blue: #545bff;

$color-bg: $color-white;

// Shadows
$shadow-default: 0 1px 6px 0 $color-grey;
